body {background-color: lightblue;}


.bigred{color: red; font-size:25px; font-family: "Times New Roman";}

.blue{color: blue; font-size:20px; font-family: "Times New Roman"}
.blue1{color: blue; font-size:20px; font-family: "Times New Roman";}
.blue2{color: blue; font-size:20px; font-family: "Times New Roman";}

.redTitle{color: red; font-size: 60px; font-family: Arial;}

.orange2{color: orange; font-size:25px; font-family: Arial;}

.red2{color: red; font-size:25px; font-family: Georgia;}

.purple2{color: purple; font-size:25px; font-family: Verdana;}

.green2{color: green; font-size:25px; font-family: "Courier New";}

.yellow2{color: yellow; font-size: 25px; font-family: "Lucida Console";}